@use '../../styles/variables' as *

.card-light 
    text-align: start
    border: none
    background-color: #fff
    border-left: 4px solid $color--dark_blue
    width: 100%
    &:hover 
        background-color: $color--blue_light
    &:focus
        outline: 4px solid #cd2c2e


