@use '../../styles/_variables' as *
    
footer a:hover,
footer a p:hover
    text-decoration: underline

.footer__legal-container
    background-color: $color--blue_bright

.footer__brand
    width: auto
    height: 75px