@use '../../styles/variables' as *

.navbar-brand img 
    height: 40px
    width: auto

header img ~ p 
    font-size: 0.8rem
    color: $color--blue_bright
    

@media (min-width: 992px)
    .navbar-brand img
        height: 72px
        width: auto

